In [1]:
import sys
from pathlib import Path

PROJECT_ROOT = Path(r"C:\Users\wdors\qepc_project")
if str(PROJECT_ROOT) not in sys.path:
    sys.path.insert(0, str(PROJECT_ROOT))

In [2]:
from qepc.nba.matchups_eoin import build_matchups_for_date, MatchupConfig

config = MatchupConfig(include_final_games=True)

matchups = build_matchups_for_date("2025-12-05", config=config)

print(matchups[[
    "game_id",
    "game_date",
    "game_datetime",
    "home_team_id",
    "away_team_id",
    "home_strength_score",
    "away_strength_score",
    "strength_diff",
]].head())

    game_id   game_date             game_datetime  home_team_id  away_team_id  \
0  22500339  2025-12-05 2025-12-05 14:00:00+00:00    1610612753    1610612748
1  22500338  2025-12-05 2025-12-05 14:00:00+00:00    1610612738    1610612747
2  22500341  2025-12-05 2025-12-05 14:30:00+00:00    1610612739    1610612759
3  22500343  2025-12-05 2025-12-05 14:30:00+00:00    1610612752    1610612762
4  22500340  2025-12-05 2025-12-05 14:30:00+00:00    1610612737    1610612743

   home_strength_score  away_strength_score  strength_diff
0             0.196416             0.329388      -0.132973
1             0.779025             0.728369       0.050656
2             0.204271             0.700651      -0.496381
3             0.274537             0.455196      -0.180659
4             0.296308             0.475774      -0.179466

In [3]:
from qepc.nba.matchups_eoin import build_matchups_for_date, MatchupConfig
from qepc.nba.team_scoring_eoin import attach_scoring_predictions, ScoringConfig

config = MatchupConfig(include_final_games=True)
matchups = build_matchups_for_date("2025-12-05", config=config)

scoring_config = ScoringConfig(
    home_court_advantage=1.5,
    weight_off_edge=0.7,
    weight_def_edge=0.7,
)
matchups_with_scores = attach_scoring_predictions(matchups, config=scoring_config)

matchups_with_scores[[
    "game_id",
    "game_date",
    "home_team_name",
    "away_team_name",
    "home_team_id",
    "away_team_id",
    "home_strength_score",
    "away_strength_score",
    "exp_home_pts",
    "exp_away_pts",
]].head()

,game_id,game_date,home_team_name,away_team_name,home_team_id,away_team_id,home_strength_score,away_strength_score,exp_home_pts,exp_away_pts
0,22500339,2025-12-05,Magic,Heat,1610612753,1610612748,0.196416,0.329388,109.787019,105.268142
1,22500338,2025-12-05,Celtics,Lakers,1610612738,1610612747,0.779025,0.728369,109.492322,109.311760
2,22500341,2025-12-05,Cavaliers,Spurs,1610612739,1610612759,0.204271,0.700651,107.780371,108.673197
3,22500343,2025-12-05,Knicks,Jazz,1610612752,1610612762,0.274537,0.455196,108.316113,107.209889
4,22500340,2025-12-05,Hawks,Nuggets,1610612737,1610612743,0.296308,0.475774,105.067937,109.639431

In [4]:
from qepc.nba.player_usage_eoin import build_player_usage_from_eoin

player_usage = build_player_usage_from_eoin(min_games=20)

player_usage[[
    "player_id",
    "player_name",
    "team_name",
    "games_played",
    "avg_points",
    "mean_points_share",
]].head(10)

,player_id,player_name,team_name,games_played,avg_points,mean_points_share
0,2544,LeBron James,Lakers,90,21.455556,0.189008
1,101108,Chris Paul,Clippers,24,3.000000,0.025567
2,101108,Chris Paul,Spurs,84,8.630952,0.075845
3,200768,Kyle Lowry,76ers,67,2.298507,0.020919
4,200782,P.J. Tucker,Knicks,35,0.257143,0.002326
5,201142,Kevin Durant,Rockets,21,23.238095,0.188560
6,201142,Kevin Durant,Suns,67,25.537313,0.224922
7,201143,Al Horford,Celtics,87,7.218391,0.062607
8,201144,Mike Conley,Timberwolves,117,6.940171,0.060359
9,201145,Jeff Green,Rockets,115,1.982609,0.016905

In [5]:
player_usage[player_usage["team_name"] == "Celtics"] \
    .sort_values("mean_points_share", ascending=False) \
    .head(10)

,player_id,team_name,games_played,avg_points,mean_points_share,avg_rebounds,avg_assists,avg_minutes,firstname,lastname,player_name
181,1628369,Celtics,96,23.187500,0.200395,7.708333,5.156250,36.042619,Jayson,Tatum,Jayson Tatum
161,1627759,Celtics,113,21.079646,0.182275,5.309735,4.008850,33.138835,Jaylen,Brown,Jaylen Brown
199,1628401,Celtics,120,16.208333,0.139558,4.300000,4.575000,33.380172,Derrick,White,Derrick White
353,1630202,Celtics,124,14.459677,0.124908,3.701613,3.661290,28.489754,Payton,Pritchard,Payton Pritchard
252,1629014,Celtics,27,13.407407,0.115115,2.185185,2.444444,23.942308,Anfernee,Simons,Anfernee Simons
115,204001,Celtics,69,13.086957,0.114580,4.855072,1.376812,26.993208,Kristaps,Porzingis,Kristaps Porzingis
24,201950,Celtics,86,9.093023,0.078590,3.534884,3.174419,30.034795,Jrue,Holiday,Jrue Holiday
494,1631169,Celtics,27,7.814815,0.064466,4.814815,1.222222,20.145385,Josh,Minott,Josh Minott
420,1630573,Celtics,117,7.367521,0.063183,2.888889,0.940171,20.760648,Sam,Hauser,Sam Hauser
7,201143,Celtics,87,7.218391,0.062607,5.022989,1.712644,27.981389,Al,Horford,Al Horford

In [6]:
# Grab the BOS-LAL game row
celtics_lakers = matchups_with_scores[
    (matchups_with_scores["home_team_name"] == "Celtics") &
    (matchups_with_scores["away_team_name"] == "Lakers")
].iloc[0]

celtics_lakers

game_id                                 22500338
game_datetime          2025-12-05 14:00:00+00:00
game_date                             2025-12-05
home_team_id                          1610612738
away_team_id                          1610612747
home_team_name                           Celtics
home_team_city                            Boston
away_team_name                            Lakers
away_team_city                       Los Angeles
home_score                                   126
away_score                                   105
is_final                                    True
home_strength_score                     0.779025
home_strength_rank                             1
away_strength_score                     0.728369
away_strength_rank                             2
strength_diff                           0.050656
home_off_ppg                          106.253523
home_def_ppg                          103.205434
away_off_ppg                           106.76254
away_def_ppg                          104.581328
home_off_edge                           4.041422
away_off_edge                           4.550439
home_def_edge                           2.850814
away_def_edge                            1.47492
exp_home_pts                          109.492322
exp_away_pts                           109.31176
Name: 1, dtype: object

In [7]:
home_team = celtics_lakers["home_team_name"]   # "Celtics"
away_team = celtics_lakers["away_team_name"]   # "Lakers"

home_lambda = celtics_lakers["exp_home_pts"]
away_lambda = celtics_lakers["exp_away_pts"]

print("Home team:", home_team, "位_team_pts =", home_lambda)
print("Away team:", away_team, "位_team_pts =", away_lambda)

Home team: Celtics 位_team_pts = 109.49232203547344
Away team: Lakers 位_team_pts = 109.31175969176117

In [11]:
home_usage = player_usage[player_usage["team_name"] == home_team].copy()
home_usage["exp_points"] = home_lambda * home_usage["mean_points_share"]
home_usage = home_usage.sort_values("exp_points", ascending=False)

home_usage[[
    "player_name", "player_id", "team_name",
    "games_played", "avg_points",
    "mean_points_share", "exp_points",
]].head(10)

,player_name,player_id,team_name,games_played,avg_points,mean_points_share,exp_points
181,Jayson Tatum,1628369,Celtics,96,23.187500,0.200395,21.941727
161,Jaylen Brown,1627759,Celtics,113,21.079646,0.182275,19.957768
199,Derrick White,1628401,Celtics,120,16.208333,0.139558,15.280535
353,Payton Pritchard,1630202,Celtics,124,14.459677,0.124908,13.676432
252,Anfernee Simons,1629014,Celtics,27,13.407407,0.115115,12.604215
115,Kristaps Porzingis,204001,Celtics,69,13.086957,0.114580,12.545609
24,Jrue Holiday,201950,Celtics,86,9.093023,0.078590,8.605042
494,Josh Minott,1631169,Celtics,27,7.814815,0.064466,7.058546
420,Sam Hauser,1630573,Celtics,117,7.367521,0.063183,6.918076
7,Al Horford,201143,Celtics,87,7.218391,0.062607,6.854967

In [12]:
away_usage = player_usage[player_usage["team_name"] == away_team].copy()
away_usage["exp_points"] = away_lambda * away_usage["mean_points_share"]
away_usage = away_usage.sort_values("exp_points", ascending=False)

away_usage[[
    "player_name", "player_id", "team_name",
    "games_played", "avg_points",
    "mean_points_share", "exp_points",
]].head(10)

,player_name,player_id,team_name,games_played,avg_points,mean_points_share,exp_points
263,Luka Doncic,1629029,Lakers,53,28.773585,0.250301,27.360838
48,Anthony Davis,203076,Lakers,50,23.360000,0.207878,22.723537
0,LeBron James,2544,Lakers,90,21.455556,0.189008,20.660836
412,Austin Reaves,1630559,Lakers,107,20.607477,0.179289,19.598345
267,Rui Hachimura,1629060,Lakers,99,12.545455,0.110473,12.076025
261,Deandre Ayton,1629028,Lakers,27,13.000000,0.109569,11.977226
123,D'Angelo Russell,1626156,Lakers,36,11.333333,0.103560,11.320344
607,Dalton Knecht,1642261,Lakers,117,8.213675,0.074113,8.101462
468,Max Christie,1631108,Lakers,53,8.075472,0.072572,7.932927
512,Jake LaRavia,1631222,Lakers,28,8.428571,0.072107,7.882174

In [ ]:
# Rebuild with new team stats & scoring attached
from qepc.nba.matchups_eoin import build_matchups_for_date, MatchupConfig
from qepc.nba.team_scoring_eoin import attach_scoring_predictions, ScoringConfig
from qepc.nba.player_usage_eoin import build_player_usage_from_eoin

config = MatchupConfig(include_final_games=True)
matchups = build_matchups_for_date("2025-12-05", config=config)

scoring_config = ScoringConfig(
    home_court_advantage=1.5,
    weight_off_edge=0.7,
    weight_def_edge=0.7,
)
matchups_with_scores = attach_scoring_predictions(matchups, config=scoring_config)

player_usage = build_player_usage_from_eoin(min_games=5)