In [1]:
from qepc.utils.paths import get_project_root
import sys

PROJECT_ROOT = get_project_root()
if str(PROJECT_ROOT) not in sys.path:
    sys.path.append(str(PROJECT_ROOT))

print('PROJECT_ROOT:', PROJECT_ROOT)

PROJECT_ROOT: C:\Users\wdors\qepc_project
qepc in root? True

In [2]:
from qepc.brain.games_loader import fetch_league_games, build_games_table
from qepc.brain.boxscores_loader import fetch_boxscores_for_games
from qepc.brain.state_vectors import build_rolling_player_state_vectors

season = "2023-24"

# 1) Games table
team_games = fetch_league_games(season)
games_df = build_games_table(team_games)

print("games_df rows:", len(games_df))
display(games_df.head())

# 2) Take a manageable subset of GAME_IDs to start
game_ids = games_df["GAME_ID"].unique().tolist()[:100]  # first 100 games

print("Number of GAME_IDs we'll use:", len(game_ids))

trad_df, _ = fetch_boxscores_for_games(game_ids, sleep_seconds=0.7, verbose=True)

print("trad_df shape:", trad_df.shape)
display(trad_df.head())

[games_loader] Fetching LeagueGameLog for season=2023-24, season_type=Regular Season...
[games_loader] Retrieved 2460 team-games.
games_df rows: 1230

,GAME_ID,GAME_DATE,SEASON_ID,HOME_TEAM_ID,HOME_TEAM_NAME,HOME_TEAM_ABBREVIATION,HOME_PTS,AWAY_TEAM_ID,AWAY_TEAM_NAME,AWAY_TEAM_ABBREVIATION,AWAY_PTS,HOME_RESULT,MARGIN,TOTAL_POINTS
0,0022300061,2023-10-24,22023,1610612743,Denver Nuggets,DEN,119,1610612747,Los Angeles Lakers,LAL,107,W,12,226
1,0022300062,2023-10-24,22023,1610612744,Golden State Warriors,GSW,104,1610612756,Phoenix Suns,PHX,108,L,-4,212
2,0022300070,2023-10-25,22023,1610612741,Chicago Bulls,CHI,104,1610612760,Oklahoma City Thunder,OKC,124,L,-20,228
3,0022300074,2023-10-25,22023,1610612746,LA Clippers,LAC,123,1610612757,Portland Trail Blazers,POR,111,W,12,234
4,0022300068,2023-10-25,22023,1610612748,Miami Heat,MIA,103,1610612765,Detroit Pistons,DET,102,W,1,205

Number of GAME_IDs we'll use: 100
[boxscores_loader] (1) Fetching boxscores for GAME_ID=0022300061...
[boxscores_loader] (2) Fetching boxscores for GAME_ID=0022300062...
[boxscores_loader] (3) Fetching boxscores for GAME_ID=0022300070...
[boxscores_loader] (4) Fetching boxscores for GAME_ID=0022300074...
[boxscores_loader] (5) Fetching boxscores for GAME_ID=0022300068...
[boxscores_loader] (6) Fetching boxscores for GAME_ID=0022300067...
[boxscores_loader] (7) Fetching boxscores for GAME_ID=0022300065...
[boxscores_loader] (8) Fetching boxscores for GAME_ID=0022300066...
[boxscores_loader] (9) Fetching boxscores for GAME_ID=0022300071...
[boxscores_loader] (10) Fetching boxscores for GAME_ID=0022300064...
[boxscores_loader] (11) Fetching boxscores for GAME_ID=0022300073...
[boxscores_loader] (12) Fetching boxscores for GAME_ID=0022300069...
[boxscores_loader] (13) Fetching boxscores for GAME_ID=0022300072...
[boxscores_loader] (14) Fetching boxscores for GAME_ID=0022300063...
[boxscores_loader] (15) Fetching boxscores for GAME_ID=0022300075...
[boxscores_loader] (16) Fetching boxscores for GAME_ID=0022300076...
[boxscores_loader] (17) Fetching boxscores for GAME_ID=0022300079...
[boxscores_loader] (18) Fetching boxscores for GAME_ID=0022300081...
[boxscores_loader] (19) Fetching boxscores for GAME_ID=0022300082...
[boxscores_loader] (20) Fetching boxscores for GAME_ID=0022300084...
[boxscores_loader] (21) Fetching boxscores for GAME_ID=0022300085...
[boxscores_loader] (22) Fetching boxscores for GAME_ID=0022300078...
[boxscores_loader] (23) Fetching boxscores for GAME_ID=0022300080...
[boxscores_loader] (24) Fetching boxscores for GAME_ID=0022300086...
[boxscores_loader] (25) Fetching boxscores for GAME_ID=0022300077...
[boxscores_loader] (26) Fetching boxscores for GAME_ID=0022300087...
[boxscores_loader] (27) Fetching boxscores for GAME_ID=0022300083...
[boxscores_loader] (28) Fetching boxscores for GAME_ID=0022300091...
[boxscores_loader] (29) Fetching boxscores for GAME_ID=0022300090...
[boxscores_loader] (30) Fetching boxscores for GAME_ID=0022300094...
[boxscores_loader] (31) Fetching boxscores for GAME_ID=0022300088...
[boxscores_loader] (32) Fetching boxscores for GAME_ID=0022300093...
[boxscores_loader] (33) Fetching boxscores for GAME_ID=0022300092...
[boxscores_loader] (34) Fetching boxscores for GAME_ID=0022300089...
[boxscores_loader] (35) Fetching boxscores for GAME_ID=0022300096...
[boxscores_loader] (36) Fetching boxscores for GAME_ID=0022300097...
[boxscores_loader] (37) Fetching boxscores for GAME_ID=0022300100...
[boxscores_loader] (38) Fetching boxscores for GAME_ID=0022300095...
[boxscores_loader] (39) Fetching boxscores for GAME_ID=0022300099...
[boxscores_loader] (40) Fetching boxscores for GAME_ID=0022300098...
[boxscores_loader] (41) Fetching boxscores for GAME_ID=0022300110...
[boxscores_loader] (42) Fetching boxscores for GAME_ID=0022300102...
[boxscores_loader] (43) Fetching boxscores for GAME_ID=0022300109...
[boxscores_loader] (44) Fetching boxscores for GAME_ID=0022300105...
[boxscores_loader] (45) Fetching boxscores for GAME_ID=0022300106...
[boxscores_loader] (46) Fetching boxscores for GAME_ID=0022300103...
[boxscores_loader] (47) Fetching boxscores for GAME_ID=0022300101...
[boxscores_loader] (48) Fetching boxscores for GAME_ID=0022300104...
[boxscores_loader] (49) Fetching boxscores for GAME_ID=0022300108...
[boxscores_loader] (50) Fetching boxscores for GAME_ID=0022300111...
[boxscores_loader] (51) Fetching boxscores for GAME_ID=0022300107...
[boxscores_loader] (52) Fetching boxscores for GAME_ID=0022300114...
[boxscores_loader] (53) Fetching boxscores for GAME_ID=0022300112...
[boxscores_loader] (54) Fetching boxscores for GAME_ID=0022300113...
[boxscores_loader] (55) Fetching boxscores for GAME_ID=0022300124...
[boxscores_loader] (56) Fetching boxscores for GAME_ID=0022300119...
[boxscores_loader] (57) Fetching boxscores for GAME_ID=0022300123...
[boxscores_loader] (58) Fetching boxscores for GAME_ID=0022300120...
[boxscores_loader] (59) Fetching boxscores for GAME_ID=0022300116...
[boxscores_loader] (60) Fetching boxscores for GAME_ID=0022300125...
[boxscores_loader] (61) Fetching boxscores for GAME_ID=0022300115...
[boxscores_loader] (62) Fetching boxscores for GAME_ID=0022300118...
[boxscores_loader] (63) Fetching boxscores for GAME_ID=0022300126...
[boxscores_loader] (64) Fetching boxscores for GAME_ID=0022300122...
[boxscores_loader] (65) Fetching boxscores for GAME_ID=0022300127...
[boxscores_loader] (66) Fetching boxscores for GAME_ID=0022300121...
[boxscores_loader] (67) Fetching boxscores for GAME_ID=0022300117...
[boxscores_loader] (68) Fetching boxscores for GAME_ID=0022300128...
[boxscores_loader] (69) Fetching boxscores for GAME_ID=0022300130...
[boxscores_loader] (70) Fetching boxscores for GAME_ID=0022300129...
[boxscores_loader] (71) Fetching boxscores for GAME_ID=0022300131...
[boxscores_loader] (72) Fetching boxscores for GAME_ID=0022300004...
[boxscores_loader] (73) Fetching boxscores for GAME_ID=0022300006...
[boxscores_loader] (74) Fetching boxscores for GAME_ID=0022300003...
[boxscores_loader] (75) Fetching boxscores for GAME_ID=0022300001...
[boxscores_loader] (76) Fetching boxscores for GAME_ID=0022300002...
[boxscores_loader] (77) Fetching boxscores for GAME_ID=0022300007...
[boxscores_loader] (78) Fetching boxscores for GAME_ID=0022300005...
[boxscores_loader] (79) Fetching boxscores for GAME_ID=0022300137...
[boxscores_loader] (80) Fetching boxscores for GAME_ID=0022300138...
[boxscores_loader] (81) Fetching boxscores for GAME_ID=0022300132...
[boxscores_loader] (82) Fetching boxscores for GAME_ID=0022300135...
[boxscores_loader] (83) Fetching boxscores for GAME_ID=0022300139...
[boxscores_loader] (84) Fetching boxscores for GAME_ID=0022300136...
[boxscores_loader] (85) Fetching boxscores for GAME_ID=0022300133...
[boxscores_loader] (86) Fetching boxscores for GAME_ID=0022300134...
[boxscores_loader] (87) Fetching boxscores for GAME_ID=0022300142...
[boxscores_loader] (88) Fetching boxscores for GAME_ID=0022300143...
[boxscores_loader] (89) Fetching boxscores for GAME_ID=0022300141...
[boxscores_loader] (90) Fetching boxscores for GAME_ID=0022300144...
[boxscores_loader] (91) Fetching boxscores for GAME_ID=0022300140...
[boxscores_loader] (92) Fetching boxscores for GAME_ID=0022300152...
[boxscores_loader] (93) Fetching boxscores for GAME_ID=0022300156...
[boxscores_loader] (94) Fetching boxscores for GAME_ID=0022300149...
[boxscores_loader] (95) Fetching boxscores for GAME_ID=0022300147...
[boxscores_loader] (96) Fetching boxscores for GAME_ID=0022300146...
[boxscores_loader] (97) Fetching boxscores for GAME_ID=0022300148...
[boxscores_loader] (98) Fetching boxscores for GAME_ID=0022300155...
[boxscores_loader] (99) Fetching boxscores for GAME_ID=0022300145...
[boxscores_loader] (100) Fetching boxscores for GAME_ID=0022300153...
trad_df shape: (2765, 35)

,gameId,teamId,teamCity,teamName,teamTricode,teamSlug,personId,firstName,familyName,nameI,...,reboundsDefensive,reboundsTotal,assists,steals,blocks,turnovers,foulsPersonal,points,plusMinusPoints,GAME_ID
0,0022300061,1610612743,Denver,Nuggets,DEN,nuggets,1629008,Michael,Porter Jr.,M. Porter Jr.,...,10,12,2,2,0,0,1,12,12.0,0022300061
1,0022300061,1610612743,Denver,Nuggets,DEN,nuggets,203932,Aaron,Gordon,A. Gordon,...,5,7,5,2,1,0,0,15,6.0,0022300061
2,0022300061,1610612743,Denver,Nuggets,DEN,nuggets,203999,Nikola,Jokić,N. Jokić,...,10,13,11,1,1,2,2,29,15.0,0022300061
3,0022300061,1610612743,Denver,Nuggets,DEN,nuggets,203484,Kentavious,Caldwell-Pope,K. Caldwell-Pope,...,1,2,1,3,1,3,5,20,10.0,0022300061
4,0022300061,1610612743,Denver,Nuggets,DEN,nuggets,1627750,Jamal,Murray,J. Murray,...,2,2,6,0,1,1,3,21,3.0,0022300061

In [3]:
from qepc.brain.state_vectors import build_rolling_player_state_vectors

rolling_state_df = build_rolling_player_state_vectors(
    boxscores_df=trad_df,
    games_df=games_df,
    window=10,
)

print("rolling_state_df shape:", rolling_state_df.shape)
display(rolling_state_df.head())

rolling_state_df shape: (2765, 36)

,PLAYER_ID,TEAM_ID,GAME_ID,GAME_DATE,roll_mean_minutes_10,roll_std_minutes_10,roll_mean_points_10,roll_std_points_10,roll_mean_fieldGoalsMade_10,roll_std_fieldGoalsMade_10,...,roll_mean_assists_10,roll_std_assists_10,roll_mean_steals_10,roll_std_steals_10,roll_mean_blocks_10,roll_std_blocks_10,roll_mean_turnovers_10,roll_std_turnovers_10,roll_mean_foulsPersonal_10,roll_std_foulsPersonal_10
0,2544,1610612747,0022300061,2023-10-24,29.016667,0.000000,21.0,0.000000,10.000000,0.000000,...,5.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
1,2544,1610612747,0022300076,2023-10-26,32.008333,4.230856,21.0,0.000000,8.500000,2.121320,...,7.000000,2.828427,1.5,0.707107,1.000000,1.414214,2.500000,3.535534,1.000000,0.000000
2,2544,1610612747,0022300100,2023-10-29,34.366667,5.063129,23.0,3.464102,9.333333,2.081666,...,7.333333,2.081666,1.0,1.000000,0.666667,1.154701,4.333333,4.041452,1.333333,0.577350
3,2544,1610612747,0022300111,2023-10-30,33.970833,4.209147,22.0,3.464102,8.750000,2.061553,...,6.500000,2.380476,1.5,1.290994,0.750000,0.957427,4.500000,3.316625,1.000000,0.816497
4,2544,1610612747,0022300127,2023-11-01,35.673333,5.270695,24.6,6.542171,9.600000,2.607681,...,6.600000,2.073644,1.4,1.140175,1.000000,1.000000,4.400000,2.880972,1.400000,1.140175

In [4]:
from qepc.brain.players_loader import fetch_league_player_season_stats

season = "2023-24"

# Get the same season-level player stats we used before
player_stats_df = fetch_league_player_season_stats(season, measure_type="Base")

# Keep just the label columns we care about
label_cols = ["PLAYER_ID", "PLAYER_NAME", "TEAM_ID", "TEAM_ABBREVIATION"]
label_cols = [c for c in label_cols if c in player_stats_df.columns]

player_labels = player_stats_df[label_cols].drop_duplicates(subset=["PLAYER_ID"])

# Join labels onto the rolling state table
rolling_pretty = rolling_state_df.merge(
    player_labels,
    on="PLAYER_ID",
    how="left",
)

# Reorder columns so labels show up first
front_cols = ["PLAYER_NAME", "TEAM_ABBREVIATION", "PLAYER_ID", "TEAM_ID", "GAME_ID", "GAME_DATE"]
front_cols = [c for c in front_cols if c in rolling_pretty.columns]

other_cols = [c for c in rolling_pretty.columns if c not in front_cols]

rolling_pretty = rolling_pretty[front_cols + other_cols]

display(rolling_pretty.head())

,PLAYER_NAME,TEAM_ABBREVIATION,PLAYER_ID,GAME_ID,GAME_DATE,TEAM_ID_x,roll_mean_minutes_10,roll_std_minutes_10,roll_mean_points_10,roll_std_points_10,...,roll_std_assists_10,roll_mean_steals_10,roll_std_steals_10,roll_mean_blocks_10,roll_std_blocks_10,roll_mean_turnovers_10,roll_std_turnovers_10,roll_mean_foulsPersonal_10,roll_std_foulsPersonal_10,TEAM_ID_y
0,LeBron James,LAL,2544,0022300061,2023-10-24,1610612747,29.016667,0.000000,21.0,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.610613e+09
1,LeBron James,LAL,2544,0022300076,2023-10-26,1610612747,32.008333,4.230856,21.0,0.000000,...,2.828427,1.5,0.707107,1.000000,1.414214,2.500000,3.535534,1.000000,0.000000,1.610613e+09
2,LeBron James,LAL,2544,0022300100,2023-10-29,1610612747,34.366667,5.063129,23.0,3.464102,...,2.081666,1.0,1.000000,0.666667,1.154701,4.333333,4.041452,1.333333,0.577350,1.610613e+09
3,LeBron James,LAL,2544,0022300111,2023-10-30,1610612747,33.970833,4.209147,22.0,3.464102,...,2.380476,1.5,1.290994,0.750000,0.957427,4.500000,3.316625,1.000000,0.816497,1.610613e+09
4,LeBron James,LAL,2544,0022300127,2023-11-01,1610612747,35.673333,5.270695,24.6,6.542171,...,2.073644,1.4,1.140175,1.000000,1.000000,4.400000,2.880972,1.400000,1.140175,1.610613e+09